/* Imports */
@import url('reset.css');
/* IDs */
#wrapper { width: 100%; max-width: 1280px; margin: 0 auto; }
/* Classes */
.character-gen { width: 40%; margin: 10px auto; }
.character-info { overflow: hidden; }
.character-info fieldset { float: left; width: 49%; margin: 0; padding: 10px; margin-top: 10px; }
.character-info fieldset:nth-of-type(even) { margin-left: 1%; }
.character-info fieldset legend { padding: 5px 10px; }
.character-info fieldset, .character-info fieldset legend { border: #000 1px solid; border-radius: 8px; }
.form-grid { display: grid; }
.form-grid select, .form-grid input { margin-bottom: 10px; }
.hidden { display: none; }
